# maven #
target

logs

# eclipse #
.settings
.svn
.project
.classpath
*.log
.externalToolBuilders

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

# idea #
*.iml
.idea/
overlays
bin
out

# other #